/* @import url("https://fonts.googleapis.com/css?family=Muli&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
* {
	box-sizing: border-box;
	font-family: "Madimi One", sans-serif;
}
body {
	background-image: linear-gradient(to top, #191819 0%, #d3e0f8 100%);
	/* background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%); */
}
#one {
	background-image: url("Media/BigChill.jpg");
}
#two {
	background-image: url("Media/Cromastone.jpg");
}
#three {
	background-image: url("Media/Humongousaur.jpg");
}
#four {
	background-image: url("Media/Jetray.jpg");
}
#five {
	background-image: url("Media/SpiderMoney.jpg");
}
#heading {
	background-color: rgba(211, 191, 37, 0.165);
	display: flex;
	justify-content: center;
	border-radius: 20px;
}
.title {
	font-size: 29px;
	color: #750909;
}
.main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90vh;
	overflow: hidden;
}

.container {
	display: flex;
	width: 90vw;
}

.frame {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 80vh;
	border-radius: 50px;
	color: #f80404;
	cursor: pointer;
	flex: 0.5;
	margin: 10px;
	position: relative;
	transition: all 700ms ease-in;
}

.frame h3 {
	font-size: 24px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	margin: 0;
	opacity: 0;
}

.frame.focused {
	flex: 5;
}

.frame.focused h3 {
	opacity: 1;
	transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
	.container {
		width: 100vw;
	}

	.frame:nth-of-type(4),
	.frame:nth-of-type(5) {
		display: none;
	}
}
